{{!-- The following component displays Ember's default welcome message. --}} {{!--welcome-page--}} {{!-- Feel free to remove
this! --}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{#link-to 'clients'}}Clients{{/link-to}}</li>
                <li class="list-group-item">{{#link-to 'users'}}Users{{/link-to}}</li>
            </ul>
        </div>
        <div class="col-sm-10">
            {{outlet}}
        </div>
    </div>
</div>